<div class="user-show">
  <div class="container">
    <div class="background-white">
      <div class="user-show-content">
        <%= render "users/user_info" %>
        <ul class="user-tabs">
          <li id="charts-tab" class="active">グラフ</li>
          <li id="posts-tab">投稿</li>
          <li id="likes-tab">いいね!</li>
        </ul>
        <%= render "users/user_charts_tab" %>
        <%= render "users/user_posts_tab" %>
        <%= render "users/user_likes_tab" %>
      </div>
    </div>
  </div>
</div>
</div>