<div class="main posts-new">
  <div class="container">
    <div class="background-white">
      <div class="posts-new-content">
        <h1 class="form-heading">投稿する</h1>
        <div class="form">
          <div class="form-body">
            <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
            <% end %>
            <%= render "posts/post_form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>