/* スマートフォン向けレイアウト ============================ */
@media screen and (max-width: 480px){
/* 共通===================================================== */
  body {
    background-image: url('/top_images/gym_2_phone.jpg');
    background-color:rgba(255,255,255,0.35);
    background-blend-mode:lighten;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
  }
  
  .main {
    position: absolute;
    width: 100%;
  }

  .container {
    max-width: 600px;
    margin: 50px auto;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
    text-align: center;
  }
  
  .btn-wrapper{
    display: block;
    text-align: center;
    .blue-btn {
      border: none;
      background-color: #3367D6;
      color: white;
      cursor: pointer;
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
      width: 200px;
      border-radius: 5px;
      margin-bottom: 4vh;
    }
  }
  
button:hover, a:hover{
  cursor: pointer;
  opacity: 0.8;
}

.background-white{
  background-color: whitesmoke;
  margin: 0 auto;
  text-align: center;
  padding: 1.5vh;
  border-radius: 10px;
  display: inline-block;
}
}


/* タブレット向けレイアウト ================================ */
@media screen and (min-width: 481px) and (max-width: 959px){
/* 共通===================================================== */
  body {
    background-image: url('/top_images/gym_1.jpg');
    background-color:rgba(255,255,255,0.35);
    background-blend-mode:lighten;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
  }
  
  .main {
    position: absolute;
    top: 64px;
    width: 100%;
  }

  .top-clearance{
    padding-top: 64px;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
    text-align: center;
  }
  
  .btn-wrapper{
    display: block;
    text-align: center;
    .blue-btn {
      border: none;
      background-color: #3367D6;
      color: white;
      cursor: pointer;
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
      width: 200px;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 35px;
    }
  }
  
button:hover, a:hover{
  cursor: pointer;
  opacity: 0.8;
}

.background-white{
  background-color: whitesmoke;
  margin: 0 auto;
  text-align: center;
  padding: 25px 30px;
  border-radius: 10px;
  display: inline-block;
}
}
  
/* PC向けレイアウト ================================ */
@media screen and (min-width: 960px){
/* 共通 ============================================ */
  body {
    background-image: url('/top_images/gym_1.jpg');
    background-color:rgba(255,255,255,0.35);
    background-blend-mode:lighten;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
  }
  
  .main {
    position: absolute;
    top: 64px;
    width: 100%;
  }

  .top-clearance{
    padding-top: 64px;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
    text-align: center;
  }
  
  .btn-wrapper{
    display: block;
    text-align: center;
    .blue-btn {
      border: none;
      background-color: #3367D6;
      color: white;
      cursor: pointer;
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
      width: 200px;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 35px;
    }
  }
  
button:hover, a:hover{
  cursor: pointer;
  opacity: 0.8;
}

.background-white{
  background-color: whitesmoke;
  margin: 0 auto;
  text-align: center;
  padding: 25px 30px;
  border-radius: 10px;
  display: inline-block;
}
}
  
