
/* スマートフォン向けレイアウト =========== */
@media screen and (max-width: 480px){
/* flash ================================ */
.flash {
  padding: 2vh 0;
  color: white;
  background: #B1F05C;
  text-align: center;
  position: fixed;
  top: 7vh;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 13px;
}
}

/* タブレット向けレイアウト =========== */
@media screen and (min-width: 481px) and (max-width: 959px){
  /* flash ================================ */
  .flash {
    padding: 10px 0;
    color: white;
    background: #B1F05C;
    text-align: center;
    position: fixed;
    top: 64px;
    z-index: 10;
    width: 100%;
    border-radius: 0 0 2px 2px;
    font-size: 14px;
  }
}

/* PC向けレイアウト =========== */
@media screen and (min-width: 960px){
/* flash ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: #B1F05C;
  text-align: center;
  position: fixed;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}
}