/* スマートフォン向けレイアウト =================== */
@media screen and (max-width: 480px){
/* users/index ================================ */
.users-index {
  padding-top: 6vh;
  .user-index-content{
    display: inline-block;
    width: 80vw;
    .users-heading {
      text-align: center;
      font-weight: 300;
      padding: 1vh 0;
      font-size: 20px;
      color: gray;
    }
    .users-index-item {
      padding: 2vh 3vh;
      background-color: white;
      overflow: hidden;
      box-shadow: 0 2px 6px #c1ced7;
      display: table;
      width: 100%;
      .user-left {
        float: left;
        width: 10%;
        img {
          width: 50px;
          height: 50px;
          border-radius: 40%;
          box-shadow: 0 2px 6px #c1ced7;
          object-fit: cover;
        }
      }
      .user-right {
        width: 90%;
        padding-left: 25px;
        text-align: left;
        display: table-cell;
        vertical-align: middle;
        .user-name {
          a {
            font-weight: 600;
            font-size: 14px;
          }
          a:hover {
            color: #3367d6;
          }
        }
        p {
          font-size: 13px;
        }
      }
    }
  }
}

/* users/show ================================ */
.user-show {
  padding-top: 6vh;
  .user-show-content{
    display: inline-block;
    width: 80vw;
    .user {
      padding: 0 1vw;
      .user-wrapper{
        display: flex;
        .user-left{
          img {
            width: 22vw;
            height: 22vw;
            border-radius: 40%;
            box-shadow: 0 2px 6px #c1ced7;
            margin: 3vh 0 1vw 3vh;
            object-fit: cover;
          }
        }
        .user-right{
          padding-left: 8vw;
          text-align: left;
          h2 {
            font-size: 15px;
            font-weight: 500;
            line-height: 1.2;
            margin: 1vh 0;
          }
          p {
            font-size: 13px;
            margin-bottom: 0.3vh;
          }
        }
      }
      .user-bottom{
        padding-top: 2vh;
        p{
          font-size: 13px;
          text-align: left;
        }
      }
      a {
        color: #8899a6;
        text-decoration: underline;
        font-weight: 200;
        display: block;
        text-align: right;
        font-size: 12px;
      }
    }
    .chart-wrapper{
      text-align: center;
      h3{
        padding: 2vh 0 0.5vh 0;
        font-size: 14px;
      }
    }
  }
}

.user-tabs {
  margin-top: 5vh;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  li {
    float: left;
  }
  li.active {
    border-bottom: 2px solid #3367d6;
    a {
      color: #57575f;
    }
  }
  a {
    font-size: 12px;
    display: inline-block;
    padding: 1.5vh 3vh;
    color: #afb6bf;
  }
}
.line-chart{
  width: 100%;
  .line-chart-pc, .line-chart-tablet{
    display: none;
  }

}


/* users/new, users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}
.users-new, .user-edit{
  padding-top: 6vh;
}

}

/* タブレット向けレイアウト =================== */
@media screen and (min-width: 481px) and (max-width: 959px){
/* users/index ================================ */
.users-index {
  padding-top: 64px;
  .user-index-content{
    display: inline-block;
    width: 60vw;
    .users-heading {
      text-align: center;
      font-weight: 300;
      margin: 20px 0;
      font-size: 30px;
      color: gray;
    }
    .users-index-item {
      padding: 20px 30px;
      background-color: white;
      overflow: hidden;
      box-shadow: 0 2px 6px #c1ced7;
      display: table;
      width: 100%;
      .user-left {
        float: left;
        width: 10%;
        img {
          width: 50px;
          height: 50px;
          border-radius: 40%;
          box-shadow: 0 2px 6px #c1ced7;
          object-fit: cover;
        }
      }
      .user-right {
        width: 90%;
        padding-left: 25px;
        text-align: left;
        display: table-cell;
        vertical-align: middle;
        .user-name {
          a {
            font-weight: 600;
            font-size: 16px;
          }
          a:hover {
            color: #3367d6;
          }
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

/* users/show ================================ */
.user-show {
  padding-top: 10vh;
  .user-show-content{
    display: inline-block;
    width: 60vw;
    .user {
      padding: 0 3vw;
      .user-wrapper{
        display: flex;
        .user-left{
          img {
            width: 100px;
            height: 100px;
            border-radius: 40%;
            box-shadow: 0 2px 6px #c1ced7;
            margin: 30px 0 10px 30px;
            object-fit: cover;
          }
        }
        .user-right{
          padding-left: 40px;
          text-align: left;
          h2 {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.2;
            margin: 20px 0 10px 0;
          }
          p {
            font-size: 14px;
            margin-bottom: 2px;
          }
        }
        span {
          color: #afb6bf;
          font-weight: 200;
          padding: 0 6px 0 8px;
        }
      }
      .user-bottom{
        padding-top: 15px;
        p{
          font-size: 14px;
          text-align: left;
        }
      }
      a {
        color: #8899a6;
        text-decoration: underline;
        font-weight: 200;
        display: block;
        text-align: right;
        font-size: 13px;
      }
    }
    .chart-wrapper{
      text-align: center;
      h3{
        padding: 2vh 0 1vh 0;
        font-size: 16px;
      }
    }
  }
}

.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  li {
    float: left;
  }
  li.active {
    border-bottom: 2px solid #3367d6;
    a {
      color: #57575f;
    }
  }
  a {
    display: inline-block;
    padding: 11px 30px;
    color: #afb6bf;
  }
}
.line-chart{
  width: 100%;
  .line-chart-pc, .line-chart-phone{
    display: none;
  }

}


/* users/new, users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}
.users-new, .user-edit{
  padding-top: 10vh;
}

}

/* PC向けレイアウト =========================== */
@media screen and (min-width: 960px){
/* users/index ================================ */
.users-index {
  padding-top: 64px;
  .user-index-content{
    display: inline-block;
    .users-heading {
      text-align: center;
      font-weight: 300;
      margin: 20px 0;
      font-size: 40px;
      color: gray;
    }
    .users-index-item {
      padding: 20px 30px;
      background-color: white;
      overflow: hidden;
      box-shadow: 0 2px 6px #c1ced7;
      display: table;
      width: 100%;
      .user-left {
        float: left;
        width: 10%;
        img {
          width: 50px;
          height: 50px;
          border-radius: 40%;
          box-shadow: 0 2px 6px #c1ced7;
          object-fit: cover;
        }
      }
      .user-right {
        width: 90%;
        padding-left: 25px;
        text-align: left;
        display: table-cell;
        vertical-align: middle;
        .user-name {
          a {
            font-weight: 600;
            font-size: 16px;
          }
          a:hover {
            color: #3367d6;
          }
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

/* users/show ================================ */

.user-show {
  padding-top: 64px;
  .user-show-content{
    display: inline-block;
    .user {
      padding: 0 30px;
      .user-wrapper{
        display: flex;
        .user-left{
          img {
            width: 120px;
            height: 120px;
            border-radius: 40%;
            box-shadow: 0 2px 6px #c1ced7;
            margin: 20px 0 10px 30px;
            object-fit: cover;
          }
        }
        .user-right{
          padding-left: 40px;
          text-align: left;
          h2 {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.2;
            margin: 20px 0 10px 0;
          }
          p {
            font-size: 15px;
            margin-bottom: 2px;
          }
        }
        span {
          color: #afb6bf;
          font-weight: 200;
          padding: 0 6px 0 8px;
        }
      }
      .user-bottom{
        padding-top: 15px;
        p{
          text-align: left;
        }
      }
      a {
        color: #8899a6;
        text-decoration: underline;
        font-weight: 200;
        display: block;
        text-align: right;
      }
    }
    .chart-wrapper{
      text-align: center;
      h3{
        padding: 15px 0;
      }
    }
  }
}
      
      .user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  li {
    float: left;
  }
  li.active {
    border-bottom: 2px solid #3367d6;
    a {
      color: #57575f;
    }
  }
  a {
    display: inline-block;
    padding: 16px 30px;
    color: #afb6bf;
  }
}
.line-chart{
  width: 100%;
  .line-chart-tablet, .line-chart-phone{
    display: none;
  }
}


/* users/new, users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}
.users-new, .user-edit{
  padding-top: 10vh;
}
}


